body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
.title_filtre {
  background: #6785c1;
  color: white;
  width: 100%;
  padding: 10px;
}
#filtros {
  margin-top: 50px;
}
#productos {
  width: 80%;
}
#box_filtres {
  text-align: left;
  width: 15rem;
  height: auto;
  position: relative;
  z-index: 1;
  transform: translateX(0px);
}
.boxProductos {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#cataleg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  height: max-content;
}
#App {
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  background-color: white;
}
.boxPortatil {
  width: 25%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(207, 203, 202);
  border-radius: 8px;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* BOTON COMPRA */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 20px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*button {
  padding: 10px;
  width: 100px;
  margin-bottom: 10px;
}*/

/* ESTILOS CARRITO COMPRA */
.tiquet{
  background: url(//cdn.pccomponentes.com/img/fondos/bg-ticket-pago.png) bottom repeat-x;
margin-bottom: 1rem;
padding-bottom: 5px;
border-right: 2px solid #dedede;
border-left: 2px solid #dedede;
border-top: 2px solid #dedede;
  
}
.volver{
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .42rem 0.5rem;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  margin-left: 28px;
}
.subtotal{
  font-size: 18px;
}
.total{
  font-weight: 700 !important;
}
.qty{
  padding: 5px;
  text-align: center;
  width: 55px;
  border-radius: 5px;
  border: 1px solid #516379;
  font-weight: bold;
}
#carrito{
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.cabecera_cart th {
  padding: 10px;
  width: 20%;
}
.cabecera_cart {
  background-color: #516379;
  color: white;
}

footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}
.capProduct {
  line-height: unset;
  background-color: #6785c1;
  width: 100%;
  margin-top: -20px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
@media (max-width: 905px) {
  .boxPortatil {
    width: 35%;
  }
}
@media (max-width: 705px) {
  .boxPortatil {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .boxPortatil {
    width: 100%;
  }
}
